body{
	margin: 0px;
	height:5500;
}
.sec {
	height: 2500px;
}

.mid {
        display: block;
        text-align: center;
        margin: -9px;
        padding-bottom: 2px;
       /* border: 2px solid green;*/
        color: white;
        background-color: black;
       /* line-height: px;*/

}
.navbar li {
        display: inline-block;
        font-size: 13px;
        padding:0px 35px;
        text-decoration: none;
}
.navbar {
        display: inline-block;
}
.navbar li a {
        color: white;
        text-decoration: none;
}

.navbar li a:hover,
.navbar li a.active {
        text-decoration: underline;
        color: grey;
}
.centered h3 a:hover,
.centered h3 a.active {
        text-decoration: underline;
        color: grey;
}
.buy1 {
	text-decoration: none;
}

.img1 {
		/*border:2px solid red;*/
		filter: invert(100%);
		margin-right: 30px;
		padding-top: 5px;
}
#img2 {
		/*border:2px solid red;*/
		margin-top: 5px;
		float:left;
		width:725px;
		height:450px;
		padding: 5px;
}
#img3 {
		/*border:2px solid red;*/
		margin-top: 5px;
		float:right;
		width:725px;
		height:450px;
		padding: 5px;
}
#img4 {
		/*border:2px solid red;*/
		margin-top: 5px;
		float:left;
		width:725px;
		height:450px;
		padding: 5px;
}
#img5 {
		/*border:2px solid red;*/
		margin-top: 5px;
		float:right;
		width:725px;
		height:450px;
		padding: 5px;
}
#img6 {
		/*border:2px solid red;*/
		margin-top: 5px;
		float:left;
		width:725px;
		height:450px;
		padding: 5px;
}
#img7 {
		/*border:2px solid red;*/
		margin-top: 5px;
		margin-bottom: 5px;
		float:right;
		width:725px;
		height:450px;
		padding: 5px;
}
.zoom{

}
 /*.zoom{
  padding: 50px;
  background-color: blue;
  transition: transform .2s; /* Animation */
 /* width: 200px;
  height: 200px;
  margin: 0 auto;
}*/
/*.zoom:hover {
  transform: scale(1.15);*/

.container {
        /*border:2px solid red;*/
        position: relative;
        text-align: center;
        color: white;
}
footer {
		text-align: center;
}
/* code for text above image*/
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mid1{
	  	text-align:center;
	  	font-size: 13px;
  		background-color:blue;
  		padding:8px;
  		margin:-3px;
  		line-height: 0px;
  		color:white;
}
.mid2{
  		text-align:center;
  		font-size: 13px;
  		background-color:white;
  		padding:5px;
  		color:black;
  		margin:-3;
  		line-height: 0px;
}

footer {
  position: auto;
  bottom: 0;

}
.last {
	color:yellow;
}
.material-icons {
	padding-top:0px;
}